{% extends "sidemenu.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<!-- <button onclick="loadbooks()">Test</button> -->
<h2>View Books</h2>
{% if books|length==0 %}
<h1>No Books</h1>
{%endif%}
<style>
  p{
    color: black;
  }
</style>
<table class="table table-bordered" style="min-width: 600px;">
<thead>
  <tr>
    <th>#ID</th>
  
    <th>BOOK TITLE</th>
  
      <th>
        AUTHOR
        </th>
        <th>
          DESCRIPTION
          </th>
          <th>
            ISBN
            </th>
  </tr>
</thead>
<tbody>
{%for u in books %} 
<tr>
  <td style="color: red;">    
    <p>{{u.id}}</p>
  </td>
    <td>    
      <p>{{u.title}}</p>
    </td>
    <td>    
      <p>{{u.author}}</p>       
    </td>
    <td>    
      <p>{{u.description}}</p>       
    </td>
    <td>    
      <p>{{u.isbn}}</p>       
    </td>
    
</tr>
{%endfor%}
</tbody>
</table>

<!-- <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav> -->

{% endif %}
{% endblock %}